public/*
wp_vja/*

!public/favicon.ico
!public/*.png

!public/wp-content
public/wp-content/*


!public/wp-content/themes
public/wp-content/themes/*
!public/wp-content/themes/twentythirteen-vja


!public/wp-content/plugins
public/wp-content/plugins/*
!public/wp-content/plugins/vja
!public/wp-content/plugins/vja-directory
!public/wp-content/plugins/runmap
vja-dir*.mo
